body {
	background-color: #ccc;
}
.container {
	max-width: 1440px;
	padding: 0 20px;
	margin: 0 auto;
}
.header__img {
	width: 100px;
	border-radius: 10px;
}
header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background: #fff;
	box-shadow: 1px 1px 10px 0 #000;
	padding: 0 10px;
}
